._hanoi-rod {
  position: relative;
  border: 1px solid;
  min-width: 300px;
  &>.rod {
    background: mediumpurple;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  &>.base {
    height: 40px;
    width: 100%;
    background: brown;
    border-radius: 10px;
  }
}
